$excludeFolders = @('docs', '.venv', 'Pseudo-PHI-DICOM-Data', 'data','node_modules')  # folders to exclude

function Get-Tree ($path, $indent = '') {
    Get-ChildItem -Path $path -Directory |
    Where-Object { $excludeFolders -notcontains $_.Name } |
    ForEach-Object {
        Write-Output "$indent$($_.Name)\"
        Get-ChildItem -Path $_.FullName -File | ForEach-Object {
            Write-Output "$indent    $($_.Name)"
        }
        Get-Tree $_.FullName "$indent    "
    }
}

Get-Tree . > dir-structure.txt